.Pushbutton {
  display:inline-block;
  width: 50px;
  height: 75px;
  cursor: pointer;
  background-image: url(img/pushbutton-on.png);
  background-repeat: no-repeat;

  /* Avoid the activation of the selection when the
     doble click is done on this element */
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.pushbutton_on {
  background: url(img/pushbutton-off.png);
  background-repeat: no-repeat;
}

.pushbutton_disabled {
  background: url(img/pushbutton-off.png);
  background-repeat: no-repeat;
  cursor: not-allowed;
  opacity: 0.4;
}
